.img-product {
    width:  200px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .text-product{
        color: blue;
    }
}

.card-product{
    a, p {
        text-decoration: none;
    }
}