{% extends 'base.html' %}
{% block content %}
{% load static %} 

    <footer class="mt-20 bg-indigo-600 p-20">
        <div class="grid md:grid-cols-4">
            <div class="col-span-1 text-white">
                <h2 class="text-left font-bold text-xl">About us</h2>
                <p class="text-left mt-2">History</p>
                <p class="text-left ">Jobs</p>
                <p class="text-left ">Privacy Policy </p>
                <p class="text-left ">Terms and Conditions</p>
            </div>
            <div class="col-span-1 text-white">
                <h2 class="text-left font-bold text-xl">Help</h2>
                <p class="text-left mt-2 ">Returns and Delivery</p>
                <p class="text-left ">Payment method</p>
                <p class="text-left ">Privacy Policy </p>
                <p class="text-left ">Location</p>
            </div>
            <div class="col-span-2  flex justify-center ">
                <form method="POST" class="w-full flex flex-col">
                    {% csrf_token %}
                    <labeL class="text-center text-white font-bold">Receive the best offers</label>
                    <input type="text"  placeholder="Example@gmail.com" class="w-[50%] mx-auto rounded-md p-2 mt-2"/>
                    <button class="text-white  bg-indigo-800 mt-4 w-[20%] mx-auto p-2 rounded-md hover:cursor-pointer hover:bg-indigo-700">Submit</button>
                </form>
            </div>
        </div>
    </footer>

{% endblock %}