
{% load static %}

<div class="sm:absolute bg-white top-0 w-full z-50">
    <nav class="shadow-md flex-col md:flex-row flex justify-between items-center text-indigo-800 p-4 w-full   transition-transform duration-300 z-50 ease-in-out transform" id="navbar">
        <a class="font-extrabold text-2xl " href={% url  'home' %}>Dev Store</a>
        <ul class="flex  justify-end gap-4 md:gap-8">
            
            <li>
                <a class="font-bold" href="{% url  'product:list_products'  %}?page=1">store </a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <p class="font-bold">
                    Hello, {{ request.user }}
                </p>
            </li>
            {% endif %}
            {% if  request.user.is_authenticated %}
            <li> 
                <a href="{% url 'auth:profile' request.user.id %}" class="font-bold">
                    <svg id="profile" class="w-6 h-6 text-indigo-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                      </svg>
                      
                </a>
            </li>
            <li class="flex items-start">
                <a  href="{% url 'favorites:list' %}">
                    <svg id="fav" class="w-6 h-6 text-pink-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                    </svg>
                </a>
                {% if total_favs %}
                    <p class="bg-pink-600 p-1 rounded-full text-white text-center text-[8px]"> {{ total_favs}} </p>
                {% endif %}
            </li>
            <li> 
                <a href="{% url 'cart' %}" class="flex items-start ">
                    
                    <svg id="cart" class="w-6 h-6 text-indigo-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h1.5a1 1 0 0 1 .979.796L7.939 6H19a1 1 0 0 1 .979 1.204l-1.25 6a1 1 0 0 1-.979.796H9.605l.208 1H17a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L5.686 5H5a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
                    </svg>
                    {% if total_quantity %}
                        <p id="quantity" class="bg-indigo-800 p-1 rounded-full text-center text-[8px] text-white"> {{ total_quantity}} </p>
                    {% endif %}
                </a>
            </li>
            <li> 
                <a href="{% url 'auth:account_logout' %}" class="font-bold">
                    <svg id="logout" class="w-6 h-6 text-indigo-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
                      </svg>
                      
                </a>
            </li>
            {% else %} 
            <li>
                <a href="{% url 'account_login'  %}">Login</a>
            </li>
            {% endif %}
          
        </ul>
    </nav>
</div>
<script>
    const navbar = document.querySelector("#navbar");
    const threshold = navbar.offsetTop; 
    const cart = document.querySelector('#cart')
    const logout = document.querySelector('#logout')
    const profile = document.querySelector("#profile")
    const fav = document.querySelector("#fav")
    const quantity = document.querySelector("#quantity")
    window.addEventListener('scroll', () => {
        if (window.scrollY > threshold) {
            navbar.classList.add('fixed', 'z-50', 'top-0', 'w-full', 'transform', 'bg-indigo-800', 'text-white', 'transition-transform', 'duration-300', 'ease-in-out');
            cart.classList.add('text-white')
            cart.classList.remove('text-indigo-600')
     
   
            quantity.classList.add('bg-indigo-800', 'text-white')

            logout.classList.add('text-white')
            logout.classList.remove('text-indigo-600')
        
            profile.classList.add('text-white')
            profile.classList.remove('text-indigo-600')
        } else {
            navbar.classList.remove('fixed', 'z-50', 'top-0', 'w-full', 'transform', 'bg-indigo-800', 'text-white', 'transition-transform', 'duration-300', 'ease-in-out');
            cart.classList.remove('text-white')
            logout.classList.remove('text-white')
            profile.classList.remove('text-white')
            quantity.classList.remove('bg-white text-indigo-800')

        
        }
    });
</script>