{% load format_currency %}

<div class="shadow-md p-4 flex gap-4 w-full sm:mt-20">
    <div class="">
        <img class="object-contain w-[100px] h-[100px]" src=" {{ order.image_url.url }} " alt=" {{ order.name}} " />
    </div>
    <div class="flex-1 w-full flex justify-between flex-row">
        <div>
            <p> {{ order.name  }}</p>
            <div class="flex gap-4">
                <p class="text-gray-400 "> {{ order.price|currency}} {{ ' ' }} X </p>
                <p class="text-gray-400"> {{ order.quantity }} </p>
            </div>
            <p class="text-indigo-600"> {{ order.total_price|currency}} </p>
        </div>
        
        <a href="{% url 'remove_from_cart' pk=order.id %}">
            <svg class="w-8 h-8 text-gray-700 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
        </a>

    </div>
</div>