{% extends "base.html" %}

{% block content%}
{% load static %}
{% include 'navbar.html' %}
{% load format_currency %}
{% load calculate_quantity %}
{% load calculate_price %}
<main class="w-[90%] md:w-[70%] xl:w-[50%] mx-auto">
   {% if orders|calculate_quantity %}
   
   <div class='flex flex-col mt-8 gap-4'>
       
       {% for order in orders %}
           <div class="shadow-md p-4 flex gap-4 w-full">
               <div class="">
                   <img class="object-contain w-[100px] h-[100px]" src=" {{ order.image_url.url }} " alt=" {{ order.name}} " />
               </div>
               <div class="flex-1 w-full flex justify-between flex-row">
                   <div>
                       <p> {{ order.name  }}</p>
                       <div class="flex gap-4">
                           <p class="text-gray-700 "> {{ order.price|currency}} {{ ' ' }} X </p>
                           <p class="text-gray-700"> {{ order.quantity }} </p>
                       </div>
                       <p class="text-indigo-600"> {{ order.total_price|currency}} </p>
                   </div>
                   
                   <a href="{% url 'remove_from_cart' pk=order.id %}">
                       <svg class="w-8 h-8 text-gray-700 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                         </svg>
                   </a>

               </div>
           </div>
       {% endfor %}
   </div>
   <p class="mt-4 text-[1.5rem]"> Total <span class="text-indigo-600">{{ orders|calulate_total_price|currency }}</span> </p>
  
   <a class="flex justify-center gap-4 text-center bg-indigo-800 hover:bg-indigo-900 hover:cursor-pointer  text-white p-3 w-full rounded-md font-bold text-1xl mt-10">
       Checkout
       <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
       </svg>      
   </a>
   
   {% else %}
    <div class="flex flex-col mt-8 gap-4 justify-center w-full">
        <p class="text-center font-bold text-2xl">Cart empty</p>
          
    </div>
   {% endif %}
</main>
{% endblock %}