{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load get_range %}
{% load get_remainder %}
{% load get_avg %}
{% load format_currency %}
{% load fixed_number %}
{% include 'navbar.html' %}
{% if favorites|length > 0 %}
  <div class="md:mt-20 w-[90%] mx-auto">
    <ul class="grid md:gap-4 sm:grid-cols-2 lg:grid-cols-3 mt-5">
      {% for favorite in favorites %}
        {% include "product_card.html" with product=favorite.product %}
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="h-screen w-full flex justify-center mt-20 ">
    <h1 class="text-center font-extrabold text-xl">No Favorites</h1>
  </div>
  {% endif %}
{% endblock %}
