{% extends "base.html" %}

{% block content%}
{% load static %}
{% include 'navbar.html' %}

<main class="">
    <div class="">
        <div class="">
       
            <form method="get">
                <p><b>Condition:</b>{{my_filter.form.price }}</p>
                <p><b>State:</b>{{my_filter.form.category }}</p>
                <p><b>City:</b>{{my_filter.form.mark }}</p>
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
    </div> 

    <div>
        <div class="card">
      
        {% for listing in all_products %}
        <p>

        <p><b>Title:</b> {{ listing.name }}</p>
        <p><b>Condition:</b> {{ listing.mark }}</p>
        <p><b>Sale Type:</b> {{ listing.category }}</p>
        <p><b>Price:</b> $ {{ listing.price|floatformat:2 }}</p>

      
        <ul>
      
        </ul>
        <hr>
      
        {% endfor %}
      
        </div>
    </div>
</main>

{% endblock %}