{% extends "base.html" %}
{% block content%}
{% load static %}
{% include 'navbar.html' %}
{% load custom_filters %}
{% load format_currency %}

<main class="w-full">
    <form 
        action="{% url 'add_to_cart' product.id %}"
        method="POST"
        class="grid md:grid-cols-2 justify-center mt-20 w-[90%] mx-auto">
        {% csrf_token %}
        <div>
            <img class="w-[90%] md:w-[400px] mx-auto" src={{ product.image_url.url }} alt={{product.name}}/>
        </div>
        <div class="flex flex-col border border-gray-200 rounded-sm p-4">
            <h1 class=" font-extrabold text-2xl uppercase block ">{{product.name}}</h1>
            <p class="mt-10">{{ product.description }}</p>
            <div class="flex mt-4 items-center gap-4">
                {% if product.stock > 0 %}
              
                    <form method="POST" class="flex flex-col">
                        
                        <select name="quantity" class=" border border-gray-200 rounded-md w-[50%]">
                            {% for n in product.stock|get_range|default:"1" %}
                                <option class="focus:outline-indigo-600 text-indigo-600" name="quantity" value="{{  n|add:1 }}">{{ n|add:1  }}</option>
                            {% endfor %}
                        
                        </select>
                    </form>
                    <p class="text-3xl text-indigo-600"> {{ product.price|currency }} </p>
                {% endif %}
            </div>
            <div>
                {% if request.user.is_authenticated %}
                    <button
                        type="submit"
                        class="bg-indigo-800 w-full hover:bg-indigo-900 cursor-pointer p-2 rounded-md flex  justify-center items-center gap-4 text-white text-center font-bold mt-4  ">Add to cart
                        <svg class="w-6 h-6 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"/>
                          </svg>
                    </button>
                {% else %} 
                <a href={% url 'account_login'  %}
                    class="bg-indigo-800 hover:bg-indigo-900 cursor-pointer p-2 rounded-md flex justify-center items-center gap-4 text-white text-center font-extrabold mt-4 uppercase ">
                    Add to cart
                    <svg class="w-8 h-8 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"/>
                      </svg>
                      
                </a>
                {% endif %}

            </div>
        </div>
    </form>
    <script src="{% static 'App.js' %}"></script>
</main>

{% endblock %}