{% extends "base.html" %}

{% block content%}
{% load static %}
{% include 'navbar.html' %}

{% if request.username%}
<h1>Hello, {{request.username}}</h1>
{% endif %}
<!--  -->

<div class="row ">
    {% for product in all_products %}
    <div class="col-sm-4  ">

        <p>{{ product.name }}</p>
        <a href="{% url 'product' product.id %}">
            <img class="img-fluid" src={{ product.image_url.url }} alt="image-product" />
        </a>
        <p class="text-product">{{ product.price }}</p>
        {% if product.descount > 0 %}
        <p id='price'>{{product.descount}} % </p>
        {% endif %}

    </div>

    {% endfor %}
</div>

<div>
    <form method="get">
        <p><b>Price:</b>{{filters.form.price }}</p>
        <p><b>Mark:</b>{{filters.form.category }}</p>
        <p><b>Categor
            y:</b>{{filters.form.mark }}</p>
        <button class="btn" type="submit">Search</button>
    </form>

    <div class="pagination">
        <span class="step-links">
            {% if paginator.has_previous %}
               <a href="?page={{paginator.previous_page_number}}">previus</a>
            {% endif %}
    
            <span class="current">
                {% for page in total_pages%}
                    {% if page_obj.number == page %}
                        <span class="page-current">{{ page }}</span>
                    {% else %}
                        <a href="?page={{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            </span>
    
            {% if next_page_number is not None %}
            <a href="?page={{ next_page_number }}">Next</a>
            <a href="?page={{ num_pages }}">Last &raquo;</a>
        {% endif %}
    </div>
       <script src="{% static './js/app.js'%}"></script>
{% endblock %}