{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load add_class_input %}
{% load add_class_error %}

<main class="flex justify-center items-center h-screen">
    {% if validlink %}
    <form method="POST" class="border border-gray-200 p-4 rounded-md" >
        {% csrf_token %}
        {% if form.errors %}
            <p class="text-red-500">{{ form.errors|add_class_error}}</p>
        
        {% endif %}
        <label class="block my-2"> {{ form.new_password1.label}} </label>
        {{ form.new_password1|add_class_input:'rounded-md border border-gray-200 w-full'}}
        <label class="block my-2">{{ form.new_password2.label}}</label>
        {{ form.new_password2|add_class_input:'rounded-md border border-gray-200 w-full ' }}

        <button class="bg-indigo-800 mt-4 text-white p-2 rounded-md font-bold block w-full" type="submit">Change password</button>
    </form>
    {% else %}
        <h1>Link invalidate</h1>
    {% endif %}
   
</main>
{% endblock %}