{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load add_class_input %}

<main class="flex justify-center items-center h-screen">
    <form method="POST" class=" rounded-md border  border-gray-200 p-10">
        {% csrf_token %}
        <label for=""> {{ form.email.label}} </label>
        {{ form.email|add_class_input:"w-full border border-gray-200 rounded-md mt-4" }}
        <button class="w-full bg-indigo-800 p-2 rounded-md mt-4 text-white font-bold hover:bg-indigo-900" type="submit">Send Email</button>
    </form>
   
</main>
{% endblock %}